<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.Configuration" version="9.0.10" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.10" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="9.0.10" />
  <package id="Microsoft.Extensions.Configuration.Ini" version="9.0.10" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="9.0.10" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="9.0.10" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="9.0.10" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.10" />
</packages>